* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
}


.contentpaddingwrapper{
    padding-right: 15%;
    padding-left: 15%;
} 
.maincontentpaddingvertical{
    padding-top: 100px;
    padding-bottom: 100px;
}

nav, footer{
    padding: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    
}
footer{
    justify-content: center;
    color: #e5e7eb;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #e5e7eb;
    font-size: 18px;
}
nav h1{
    font-size: 24px;
    color: #F9faf8;
    font-weight: 700;
}
/* Hero section elements */

.herocontent{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    
}
.herocontent h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8;
}
.herocontent p{
    font-size: 18px;
    color: #e5e7eb;
    
}
.leftheropart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftheropart button{
    flex: 0;
    align-self: self-start;
    background-color: #3882f6;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    border-style: none;
    color: #F9faf8;
    font-weight: 700;
}

/* seconddiv section */
.seconddiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.seconddiv h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;

}
.seconddiv img{
    object-fit: cover;
    width: 200px;
    height:200px;
}

.kittyimagesection{
    display: flex;
    gap: 50px;
    text-align: center;
}
.kittyimagesection img{
     border-radius: 20px;
}

/* quotesection */

.quotesection{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    gap: 20px;
}
.quotesection span{
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}
.quotesection p{
    font-size: 18px;
    font-weight: bold;
    align-self: self-end;
}

/* ctasection */

.ctasection{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ctacontentcontainer{
    border-radius: 10px;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: #F9faf8;
}

.ctacontentcontainer p{
    color: #e5e7eb;
}

.ctacontentcontainer button{
    padding: 10px 25px;
    color: #F9faf8;
    background-color: transparent;
    font-weight: bold;
    border-style: solid;
    border-color: #F9faf8;
    border-radius: 5px;
}